.todoSection {
    width: 75%;
    display: flex;
}

.todoButton {
    width: 100%;
    height: 30px;
    
    border: 0;

    color: #fff;
    background: #00b5d6;
}

.todoButton:hover {
    cursor: pointer;
}

.todoList {
    width: 50%;

    list-style: none;
}

.filterTodo {
    display: flex;

    list-style: none;
}

.filterTodo li {
    padding: 0 5px;
}

.active {
    text-decoration: underline;
}

.activeTodo {
    width: 50%;
}

.todoViewTitle {
    padding: 20px 0;

    text-align: center; 
}