.background {
    position: fixed;
    top: 5px;
    left: 5px;

    width: 100vmax;
    height: 100vmax;

    background: rgba(0,0,0, 0.5);  
}

.modal {
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 150px);
    
    min-width: 300px;

    padding: 15px;

    background: #fff;

    border-radius: 0.3rem
}

.close {
    position: absolute;
    right: 3px;
    top: 2px;

    display: flex;
    padding: 5px;

    color: #fff;

    border: 0;

    background: red;
}

.close:hover {
    cursor: pointer;
}
