.groupSection {
  width: 25%;
}

.groupsList {
    list-style: none;

    margin: 0;
    padding: 0;
}

.allTodos {
    padding: 8px;

    background: #22be34;

    color: #fff;
    text-align: center;

    cursor: pointer;
}

.allTodos:hover {
    background: color(#22be34 b(15%));
}

.header  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.placeholder {
    text-align: center;
    color: #999;

    margin: 30px;
}