.group {
    position: relative;

    width: 100%;
    box-sizing: border-box;

    overflow: hidden;
    
    border-bottom: 3px solid #777;
}

.group:hover {
    cursor: pointer;

    border-bottom: 3px solid red;
}

.info {
    padding: 10px;
}

.infoTitle {
    font-weight: 700;
}

.active {
    border-bottom: 3px solid red;
}

.edit {
    composes: smallButton from '../../styles/button.css';
    
    right: 10px;
}

.edit:hover {
    background: blue;
}

.actions {
    position: absolute;

    top: calc(50% - 16px);
    right: 10px;
}